# Fichero de configuraci贸n para los contenedores del cliente
version: "3.8"
services:
  # Contenedor para la aplicaci贸n del cliente
  ei-cliente:
    # La imagen del contenedor se construye sobre una adecuando las necesidades
    build: .
    # Nombre asignado al contenedor
    container_name: ei-cliente
    # Puerto abierto para el acceso
    ports:
      - 1001:4200
      - 9876:9876
    environment:
      - CHROME_BIN:chromium
    # Para la versi贸n de desarrollo se mapea la carpeta con una local
    volumes:
      - .:/usr/src/app
    # Red para la aplicaci贸n
    networks:
      - escuela-infantil

networks:
  escuela-infantil:
    driver: bridge
