header {
  background-color: #94949430;

  img.logo {
    max-width: 40px;
  }
  p.nombre {
    cursor: default;
  }
  /*Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) {
    .logo {
      max-width: 40px;
    }
    .navbar-brand {
      font-size: 1.25rem;
    }
  }

  /*Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) {
    .logo {
      max-width: 40px;
    }
  }
}
