// Fuentes
@font-face {
  font-family: "IndieFlower";
  src: url("./app/fonts/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: "OriginalSurfer";
  src: url("./app/fonts/OriginalSurfer-Regular.ttf");
}
// @import "app/style/colors.scss";
// @import "../node_modules/ng-uikit-pro-standard/assets/scss/bootstrap/bootstrap.scss";

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .d-hidden-sm {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  .d-hidden-ml {
    display: none;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
  .d-hidden-lg {
    display: none;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
  .d-hidden-xl {
    display: none;
  }
}

* {
  font-family: "IndieFlower";
  font-size: 1.1rem;
}
.min-vw-50 {
  min-width: 50vw !important;
}
.max-vw-50 {
  max-width: 50vw !important;
}
.min-vh-50 {
  min-height: 50vh !important;
}
.max-vh-50 {
  max-height: 50vh !important;
}

.fondo {
  background-image: url("assets/background.jpg");
  background-size: cover;
}

i.fas {
  vertical-align: middle;
}
.modal-header * {
  font-family: 'OriginalSurfer';
}
.small {
  font-size: 0.7rem;
}
.required::before{
  content: '*';
  color: rgb(167, 0, 0);
}
.no-resize {
  resize: none;
}
.modal-open .modal {
  overflow-y: auto !important;
}
form {
  &.bg-form{
    background-color: #94949454;
  }
}
table {
  background-color: #d3d3d36b;
  tr {
    td {
      .btn {
        min-width: 42px;
        min-height: 42px;
        font-size: 1rem;
      }

      img.avatar {
        max-width: 36px;
      }
    }

    td.min {
      width: 1%;
      white-space: nowrap;
    }
  }
}
